# Сервер
fastapi==0.111.0
uvicorn[standard]==0.29.0
gunicorn

# База данных
psycopg2-binary==2.9.9

# Сбор данных
aiohttp==3.13.0
requests==2.32.3
tenacity==8.3.0

# Расчет индикаторов
pandas==2.2.2
numpy==1.26.4
numba==0.61.2
scipy==1.13.1
hurst==0.0.5